body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: gray;
  }
  
  h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    color: white;
  }