p.ex1 {
    border: 2px solid black;
    outline-style: solid;
    outline-color: red;
  }
  
  p.ex2 {
    border: 2px solid black;
    outline-style: dotted;
    outline-color: blue;
  }
  
  p.ex3 {
    border: 2px solid black;
    outline-style: outset;
    outline-color: grey;
  }