<form asp-action="Index">
    <label>Nhập PersonID</label>
    <input type="text" name="PersonId"
    <label>Nhập họ tên:</label>
    <input type="text" name="FullName"
    <label>Nhập địa chỉ</label>
    <input type="text" name="Address"
    <input type="submit" value="Gửi dữ liệu"

</form>  
